.home{
    height: 80px;
    width: 100%;
    /* background-color: aqua; */
    gap: 60px;
    display: flex;
}
*{
    padding: 0;
    margin: 0;
}
.home a{
    font-size: 20px ;
    text-decoration: none;
    color: black;
    padding-top: 20px;
}
